 a{
            text-transform: uppercase; 
            color:red; 
            text-decoration: none; 
            font-size: 32px;
        }

        p.coucou{
            color: green;
        }

        p.test.belette{
            .cheval{
                a{ 
                    color: purple;
                }
            }
        }